<template>
	<div class="app">
		<Upload
				v-if="!haveResults"
				class="app__uploader"
				accept=".csv"
				:disabled="reading"
				drag
				ref="upload"
				action=""
				:auto-upload="false"
				:on-change="handleChange"
				multiple>
			<i class="el-icon-upload"></i>
			<div class="el-upload__text">Drop csv here <em>or click to browse</em></div>
		</Upload>

		<div class="app__results" v-if="haveResults">
			<div class="app__date-range">
				<div class="app__date-range__item">Period</div>
				<div class="app__date-range__item">from</div>
				<div class="app__date-range__item">{{results.dateFrom}}</div>
				<div class="app__date-range__item">to</div>
				<div class="app__date-range__item">{{results.dateTo}}</div>
			</div>
			<p class="app__savings_label teal--text lighten-3 text-center">
				Moved to savings account: {{results.savings}}
			</p>
			<Chart
					:data="results.summary"
					:loading="reading || processing"
					:savings="results.savings"
					@click="categoryClick"
			/>

			<List v-if="selectedCategory" :items="results.detailed[selectedCategory]" />
			<v-btn class="app__reset" v-if="haveResults" @click="reset">Reset</v-btn>
		</div>

	</div>
</template>

<script>
	import {Upload} from 'element-ui'
	import {fromCSV} from '../utils/helpers'
	import {process} from '../utils/process'
	import Chart from './Chart';
	import List from './List';

	const MAX_FILES = 5

	export default {
		name: "FileReader",
		components: {
			List,
			Chart,
			Upload,
		},
		data() {
			return {
				results: {},
				selectedCategory: null,
				haveResults: false,
				fileList: [],
				fileContentsList: [],
				reading: false,
				processing: false,
			};
		},
		methods: {
			readFile(file, callback = () => {}) {
				const reader = new FileReader();
				reader.onload = callback
				reader.readAsText(file.raw);
			},
			async readAll(fileList) {
				this.fileContentsList = []
				const promises = []
				fileList.forEach((f) => {
					promises.push(new Promise(((resolve, reject) => {
						try {
							this.readFile(f, (content) => {
								resolve(content.currentTarget.result)
							})
						} catch (e) {
							reject(e)
						}
					})))
				})
				return await Promise.all(promises)
			},

			async handleChange(file, fileList) {
				this.reading = true
				try {
					this.fileList = fileList.slice(-MAX_FILES)
					this.fileContentsList = await this.readAll(this.fileList)
					this.reading = false
				} finally {
					this.reading = false
					if (this.fileList.length) {
						this.handleProcess(false)
					}
				}
			},
			categoryClick(category) {
				if (this.selectedCategory === category) {
					this.selectedCategory = null
				} else {
					this.selectedCategory = category
				}
			},
			async handleProcess() {
				this.processing = true
				try {
					const parsedCsvs = await Promise.all(this.fileContentsList.map(content => fromCSV(content)))
					this.results = process(parsedCsvs)

					this.haveResults = true
				} finally {
					this.processing = false
				}

			},
			reset() {
				this.selectedCategory = null
				this.haveResults = false
				this.summary = {}
			}
		}
	}
</script>

<style lang="scss">
	$uploaderMaxWidth: 300px;
	$margin: 40px;
	$buttonWidth: 200px;
	.app {
		animation: slideInDown 0.5s ease-in-out;
		.el-upload {
			display: block;
			width: $uploaderMaxWidth;
			margin: $margin auto;
			&-dragger {
				width: 100%;
				background-color: fade_out(white, 0.5);
				border-style: solid;
			}
		}
		&__reset {
			display: block !important;
			margin: $margin * 2 auto;
			width: $buttonWidth;
		}
		&__date-range {
			text-align: center;
			font-size: 16px;
			font-weight: bold;
			margin-top: $margin / 2;
			&__item {
				display: inline-flex;
				&:not(:last-child) {
					margin-right: $margin / 5;
				}
			}
		}
		&__savings_label {
			margin-bottom: $margin /2;
			font-size: 12px;
		}
	}

	@keyframes slideInDown {
		0% {
			transform: translateY(-30%);
			opacity: 0;
		}
		100% {
			transform: translateY(0%);
			opacity: 1;
		}
	}
</style>
