<template>
	<div class="chart">
		<VueApexCharts v-if="!loading" width="500" type="donut" :options="chartOptions" :series="series"/>
	</div>
</template>

<script>
	import VueApexCharts from 'vue-apexcharts'
	export default {
		name: "Chart",
		components: {
			VueApexCharts,
		},
		props: {
			data: {
				type: Object,
				default() {
					return {}
				}
			},
			loading: {
				type: Boolean,
				default: false,
			}
		},
		computed: {
			series() {
				return Object.values(this.data)
			},
			labels() {
				return Object.keys(this.data)
			},
			chartOptions() {
				return {
					labels: this.labels,
					colors: [
						'#4BAEA0',
						'#f0c9c9',
						'#f8a978',
						'#a0855b',
						'#a0c334',
						'#6bc5d2',
						'#ff6363',
						'#e5d429',
						'#be6283',
						'#4f81c7',
						'#ff935c',
						'#9cf196',
						'#f7be16',
						'#d7d1c9',
						'#ab72c0'
					],
					chart: {
						events: {
							beforeMount: undefined,
							mounted: undefined,
							updated: undefined,
							dataPointSelection: (_, __, {dataPointIndex}) => {
								this.$emit('click', this.labels[dataPointIndex])
							},
							dataPointMouseEnter: undefined,
							dataPointMouseLeave: undefined,
							beforeZoom: undefined,
							zoomed: undefined,
							scrolled: undefined,
						}
					},
					plotOptions: {
						pie: {
							donut: {
								size: '55%',
								labels: {
									show: true,
									total: {
										show: true,
									}
								}
							}
						}
					},
					options: {
						legend: {
							position: 'left',

						}
					}
				}
			}
		}
	}
</script>

<style lang="scss">
	.chart {
		.apexcharts-canvas {
			margin: 0 auto;
		}
		&__savings-label {
			margin-top: 10px;
		}
	}
</style>