<template>
	<div class="list">
		<v-data-table
				:headers="headers"
				:items="items"
		></v-data-table>
	</div>
</template>

<script>
	export default {
		name: "List",
		props: {
			items: {
				type: Array,
				default: () => {
					return []
				}
			}
		},
		data() {
			return {
				headers: [
					{
						text: 'Description',
						value: 'description',
					},
					{ text: 'Amount', value: 'amount' },
					{ text: 'Date', value: 'date' },
				]
			}
		}
	}
</script>

<style lang="scss">
	.list {
		max-width: 600px;
		margin: 40px auto;
	}
</style>