<template>
  <v-app>
    <v-content>
      <App />
    </v-content>
  </v-app>
</template>

<script>
import App from './components/App';

export default {
  name: 'AppLayout',
  components: {
    App,
  },
  data: () => ({
    //
  }),
};
</script>
